/* general */
.sidebar {
  background-color: black;
}

.yellow-color {
  background-color: #fdc823;
}

.home {
  padding: 25vh 0;
  background-color: #1e1e1e;
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.card-title {
  color: #fdc823;
}

.card {
  background: linear-gradient(145deg, inset 20px 20px 60px #1a1a1a, #1b1b1b);
  box-shadow:  20px 20px 60px #1a1a1a,
               -20px -20px 60px #232323;

}

/* side bar */
.prof-img {
  margin: auto;
}

.sidebar--description {
  margin: auto;
  width: 210px;
  margin: 0.76rem auto;
}

.sidebar--socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

.sidebar--socials-btn {
  width: 210px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px;
  color: black;
  background-color: #fdc823;
  text-align: start;
}

/* SIDEBAR ON MOBILE VIEW */
@media screen and (max-width: 768px) {
  .home {
      overflow-x: hidden;
      padding-top: 0px;
  }

  .app {
      flex-direction: column;
  }

  .sidebar {
      overflow-x: hidden;
      align-items: center;
      width: 100% !important;
      margin: 0;
      padding: 0;
      padding-bottom: 30px;
  }
  .sidebar--img {
      width: 100px !important;
      /* padding: 0 50px; */
  }
  .sidebar--description {
      max-width: 435px;
  }

  .sidebar--text--img {
      padding: 0 30px;
      display: flex;
      align-items: center;
  }

  .sidebar--socials {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .sidebar--socials-btn {
      width: 150px;
      margin: 10px;
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 0;

  }

}

/* CARD VIEWS */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .home {
      padding-top: 10px;
  }

  .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .sidebar--socials {
      /* width: 10px; */
  }

  .sidebar--socials--btn {
      width: 210px;
      margin-top: 10px;
      border-radius: 5px;
      padding: 8px;
      color: black;
      background-color: #fdc823;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
  }
}

.card {
  margin: 10px;
}
